<html>
<h1>Update Wallet:{{wallet.wallet_id}}</h1>
<form id="updateWallet" action="/wallets/:wallet_id/" method="PUT">
    Customer ID: <select name="customer_id" id="customerSelector"> 
        {{#each customers}}
            <option value="{{customer_id}}">{{email}}</option>
        {{/each}}
    </select><br>
    Balance: <input type="number" name="balance" value="{{wallets.balance}}"><br>
</form>
<button class="button" onclick="updateWallet({{wallet.wallet_id}})">Update</button>
{{!-- <script defer>selectPlanet({{person.homeworld}});</script> --}}
</html>