<div class="explanation">THIS PAGE WILL BE A WALLET OVERVIEW FOR ACCOUNT</div>

<div class="table_div">
<h3> Insert Wallet </h3>
    <form id="add_wallet" action="/wallets" method="post">
    Customers:<select name="customer_id"> 
        {{!-- We display title but the value that is submitted through the form is actually the certificate's id --}}
        {{#each customers}}
        <option value={{customer_id}}>{{email}}</option>
        {{/each}}
    </select><br>
    <br>
    Balance:
    <input type="number" name="balance" min="0"><br>
    <input class="button" type="submit" value="Submit">
    <div>{{error}}</div>
    </form>
</div>

<br>

<div class="table_div">
<h3> Wallets </h3>
<table class="wallet">
    <thead>
        <tr>
            <th>wallet_id</th>
            <th>customer_id</th>
            <th>balance</th>
        </tr>
    </thead>
        {{#each wallets}}
        <tr>
          <td>{{wallet_id}}</td>
          {{#if customer_id}}
          <td>{{customer_id}}</td>
          {{else}}
          <td>NULL</td>
          {{/if}}
          <td>{{balance}}</td>
          <td><a href="/wallets/{{wallet_id}}" id="id{{wallet_id}}">UPDATE</a></td>
        </tr>
      {{/each}}
    </table>
</div>
